name: Sync to Hugging Face hub
on:
  push:
    branches: [main] # Hoặc 'master' nếu nhánh chính của bạn tên là master

  # Cho phép chạy thủ công bằng nút bấm nếu cần
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push https://chuongdd:$HF_TOKEN@huggingface.co/spaces/chuongdd/TEN_SPACE_CUA_BAN main
